* {
    box-sizing: border-box;
  }
  
html {
      box-sizing: border-box;
      font-family: Arial, Helvetica, sans-serif;
  }
  
body {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff; }

.bg-landingpage { 
    color: black;
    background-image: url('./images/book-pen.jpg');
    height: 400px; 
    width: 600px;
    text-align: center;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}
.bg-login { 
  color: black;
  background-image: url('./images/book-pen.jpg');
  height: 100px; 
  width: 600px;
  color: rgb(190, 151, 151);
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}
.registerForm {
  margin: 120px auto;
  width: 400px;
  padding: 40px;
  background: #f5f5f5;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, .5);
  border-radius: 10px;
  }
.thick {
  font-weight: bold;
  color: black;
}
.footer-bg {
    color: black;
    position: fixed;
    background-color: powderblue;
    text-align: center;
    padding: 10px 20px 10px 20px;
    width: 100%;
    bottom: 0;
}

.theme-btn {
    color: black;
    background-color: powderblue;
}
.theme-btn:hover,
.theme-btn:focus,
.theme-btn:active,
.theme-btn.active {
  color: white;
  background-color: rgb(190, 151, 151);
}
.nav-bar-brand-text {
    color: black;
    font-weight: bold;
}
.nav-bar-brand-text:hover {
  color: rgb(190, 151, 151);
}
.nav-bg {
    background-color: powderblue;
    color: black
}
.theme-text{
  color: black;
}
.theme-text:hover{
  color: rgb(190, 151, 151);
}
.redirect-login:hover{
  color: rgb(190, 151, 151);
}
.centered {
  display: block
}
.center-text{
  text-align: center
}
